.header img {
    width: 13%;
    min-width: 25px;
    max-width: 30px;
}

.header {
    position: sticky;
    top: 0;
    background-color: whitesmoke;
    display: flex;
    height: 3rem;;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    border-radius: 15px;
}

.hdr_left {
    
    flex: 0.5;
}

.hdr_center {
    font-weight: bold;
    font-size: 1.2em;
    text-transform: capitalize;
    flex: 1;
}

.hdr_right {
    
    flex: 0.5;
}

.nav__bar {
    
    background-color: yellow;
}