.header {
    display: flex;
    justify-content: space-between;
    position: sticky;
    background-color: whitesmoke;
    padding: 12px;
    border-radius: 12px;
    
    
    left: 4.5%;
    width: 90%;
    top: 0;
    
}


.hdr_center {
   flex: 1;
   font-weight: 900;
   text-transform: uppercase;
}

.hdr_left  {
   flex: 0.3;
}

.hdr_left img {
    width: 50%;
   
}


.hdr_right  {
    flex: 0.3;
}
.hdr_right img {
    height:55%;
}
.hdr_right:hover,
.hdr_left:hover {
   background-color: rgba(255, 208, 0, 0.288); 
   border-radius: 12px;
   cursor: pointer;
}




.hdr_left ,.hdr_center ,.hdr_right  {
    display: grid;
    place-items: center;
}


.hdr_left img ,
.hdr_right img
{
    max-width: 50px;
    max-height: 50px;
}

