.home_Page {
  padding-top: 10px;
    
}

@media only screen and (min-width: 640px) {
        .home_Page{
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            flex-wrap: wrap;
            margin: 0px 100px;
           
        }
}