.shp_card {
    display: flex;
    flex-direction: column;
    padding-top:100px ;
    margin: -2% 9%;
    
    
}

.shp__footer {
    background-color:whitesmoke;
    padding: 20px;

}

.shp__footer span , .tote {
    background-color: rgb(103, 248, 103);
    border-radius: 3px;
    padding: 12px;

}