
.sd_bar {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 65px;
    left: 0;
    width: 30%;
    background-color: black;
    color: whitesmoke;
    padding: 19px;
    border-radius: 0px 12px 12px 0px;
    box-shadow: 0 8px 6px -6px black;

}
    
.sd__items {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.qut:hover {
    background-color:rgb(211, 211, 211);
    color :rgba(0, 0, 0, 0.719);
}
.qut {
    display: grid;
    place-items: center;
    cursor: pointer;
    background-color: whitesmoke;
    color: black;
    border-radius: 12px;
    width: 12%;
    padding: 10px;
}

.sd__qut__icon {
    display: grid;
    place-items: center;
}
.sd__item {
    padding: 12px;
    border-radius: 12px;
    cursor: pointer;
}
.sd__item:hover {
    background-color: whitesmoke;
    color: black;
}
